In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator
import sys
import re 
from user_defined_exceptions import *
import mapplot #plot map
import warnings
import visualizationTool as vs
import general_functions as gf
import freq_station as fs

In [2]:
print 'Initilizing...'
print "Reading the data..."
data = pd.read_csv('Citibike_final.csv')

year = 2014
month = 1
top_choice = 5

Initilizing...
Reading the data...

In [3]:
data

,Unnamed: 0,tripduration,starttime,stoptime,start station id,end station id,bikeid,usertype,birth year,gender,startdate,startyear,startmonth,startday
0,0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,504,16950,1,0,0,2013-07-01,2013,7,1
1,1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,459,19816,1,0,0,2013-07-01,2013,7,1
2,2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,237,14548,0,1980,2,2013-07-01,2013,7,1
3,3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,499,16063,1,0,0,2013-07-01,2013,7,1
4,4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,410,19213,0,1986,1,2013-07-01,2013,7,1
5,5,861,2013-07-01 00:01:23,2013-07-01 00:15:44,511,454,16223,0,1988,1,2013-07-01,2013,7,1
6,6,550,2013-07-01 00:01:59,2013-07-01 00:11:09,293,394,16746,1,0,0,2013-07-01,2013,7,1
7,7,288,2013-07-01 00:02:16,2013-07-01 00:07:04,224,376,16062,0,1985,2,2013-07-01,2013,7,1
8,8,766,2013-07-01 00:02:16,2013-07-01 00:15:02,432,336,17963,0,1980,2,2013-07-01,2013,7,1
9,9,773,2013-07-01 00:02:23,2013-07-01 00:15:16,173,479,19365,0,1989,1,2013-07-01,2013,7,1
10,10,456,2013-07-01 00:02:23,2013-07-01 00:09:59,146,351,16321,0,1976,1,2013-07-01,2013,7,1
11,11,632,2013-07-01 00:02:24,2013-07-01 00:12:56,251,307,18935,0,1967,1,2013-07-01,2013,7,1
12,12,623,2013-07-01 00:02:24,2013-07-01 00:12:47,479,493,16036,1,0,0,2013-07-01,2013,7,1
13,13,228,2013-07-01 00:02:33,2013-07-01 00:06:21,504,487,16593,0,1987,1,2013-07-01,2013,7,1
14,14,643,2013-07-01 00:02:44,2013-07-01 00:13:27,479,493,19677,1,0,0,2013-07-01,2013,7,1
15,15,1312,2013-07-01 00:03:10,2013-07-01 00:25:02,474,128,15480,1,0,0,2013-07-01,2013,7,1
16,16,424,2013-07-01 00:03:14,2013-07-01 00:10:18,477,485,15013,0,1972,1,2013-07-01,2013,7,1
17,17,1129,2013-07-01 00:03:30,2013-07-01 00:22:19,470,450,16017,0,1969,1,2013-07-01,2013,7,1
18,18,311,2013-07-01 00:03:58,2013-07-01 00:09:09,494,458,20595,1,0,0,2013-07-01,2013,7,1
19,19,1275,2013-07-01 00:04:10,2013-07-01 00:25:25,345,455,16236,0,1983,1,2013-07-01,2013,7,1
20,20,318,2013-07-01 00:05:09,2013-07-01 00:10:27,406,237,19170,0,1983,2,2013-07-01,2013,7,1
21,21,1603,2013-07-01 00:05:26,2013-07-01 00:32:09,521,406,17793,1,0,0,2013-07-01,2013,7,1
22,22,440,2013-07-01 00:05:31,2013-07-01 00:12:51,422,516,18330,0,1990,1,2013-07-01,2013,7,1
23,23,801,2013-07-01 00:05:35,2013-07-01 00:18:56,173,490,17230,0,1899,2,2013-07-01,2013,7,1
24,24,452,2013-07-01 00:05:37,2013-07-01 00:13:09,519,516,16408,0,1987,2,2013-07-01,2013,7,1
25,25,305,2013-07-01 00:05:41,2013-07-01 00:10:46,151,293,19080,0,1985,1,2013-07-01,2013,7,1
26,26,682,2013-07-01 00:05:47,2013-07-01 00:17:09,494,127,19411,0,1987,1,2013-07-01,2013,7,1
27,27,1444,2013-07-01 00:05:49,2013-07-01 00:29:53,312,312,14842,1,0,0,2013-07-01,2013,7,1
28,28,537,2013-07-01 00:05:51,2013-07-01 00:14:48,487,439,20330,0,1986,1,2013-07-01,2013,7,1
29,29,1456,2013-07-01 00:06:27,2013-07-01 00:30:43,352,490,15721,0,1985,1,2013-07-01,2013,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21264970,21264970,302,10/31/2015 23:57:51,11/1/2015 00:02:54,439,326,23705,0,1982,1,10/31/2015,2015,10,31
21264971,21264971,1321,10/31/2015 23:57:52,11/1/2015 00:19:54,268,426,24036,1,0,0,10/31/2015,2015,10,31
21264972,21264972,267,10/31/2015 23:57:57,11/1/2015 00:02:24,3086,3106,24078,0,1982,1,10/31/2015,2015,10,31
21264973,21264973,704,10/31/2015 23:58:00,11/1/2015 00:09:45,521,482,23197,0,1967,1,10/31/2015,2015,10,31
21264974,21264974,1127,10/31/2015 23:58:01,11/1/2015 00:16:49,463,403,17391,0,1983,2,10/31/2015,2015,10,31
21264975,21264975,288,10/31/2015 23:58:01,11/1/2015 00:02:50,439,326,22171,0,1982,2,10/31/2015,2015,10,31
21264976,21264976,474,10/31/2015 23:58:06,11/1/2015 00:06:00,521,450,23482,0,1978,1,10/31/2015,2015,10,31
21264977,21264977,292,10/31/2015 23:58:10,11/1/2015 00:03:03,439,326,22120,0,1983,2,10/31/2015,2015,10,31
21264978,21264978,470,10/31/2015 23:58:17,11/1/2015 00:06:07,521,450,18211,0,1980,2,10/31/2015,2015,10,31
21264979,21264979,320,10/31/2015 23:58:19,11/1/2015 00:03:40,334,247,22527,0,1979,1,10/31/2015,2015,10,31
21264980,21264980,710,10/31/2015 23:58:23,11/1/2015 00:10:14,236,302,24230,0,1963,1,10/31/2015,2015,10,31
21264981,21264981,513,10/31/2015 23:58:39,11/1/2015 00:07:12,3074,3087,22115,0,1980,1,10/31/2015,2015,10,31
21264982,21264982,883,10/31/2015 23:58:56,11/1/2015 00:13:40,229,308,17554,0,1995,1,10/31/2015,2015,10,31
21264983,21264983,1487,10/31/2015 23:58:58,11/1/2015 00:23:46,119,3071,14948,1,0,0,10/31/2015,2015,10,31
21264984,21264984,194,10/31/2015 23:58:59,11/1/2015 00:02:13,504,487,23553,0,1982,2,10/31/2015,2015,10,31
21264985,21264985,1471,10/31/2015 23:59:00,11/1/2015 00:23:31,119,3071,15414,1,0,0,10/31/2015,2015,10,31
21264986,21264986,3939,10/31/2015 23:59:05,11/1/2015 01:04:44,257,387,18901,1,0,0,10/31/2015,2015,10,31
21264987,21264987,4033,10/31/2015 23:59:05,11/1/2015 01:06:19,257,387,19899,1,0,0,10/31/2015,2015,10,31
21264988,21264988,3958,10/31/2015 23:59:06,11/1/2015 01:05:04,257,387,16282,1,0,0,10/31/2015,2015,10,31
21264989,21264989,1041,10/31/2015 23:59:12,11/1/2015 00:16:33,492,285,18253,0,1959,1,10/31/2015,2015,10,31
21264990,21264990,736,10/31/2015 23:59:17,11/1/2015 00:11:33,348,229,17827,1,0,0,10/31/2015,2015,10,31
21264991,21264991,548,10/31/2015 23:59:26,11/1/2015 00:08:35,379,546,16859,0,1962,1,10/31/2015,2015,10,31
21264992,21264992,3919,10/31/2015 23:59:35,11/1/2015 01:04:55,257,387,16982,1,0,0,10/31/2015,2015,10,31
21264993,21264993,1621,10/31/2015 23:59:36,11/1/2015 00:26:38,285,3156,21038,0,1976,1,10/31/2015,2015,10,31
21264994,21264994,341,10/31/2015 23:59:44,11/1/2015 00:05:25,490,2021,15238,0,1971,1,10/31/2015,2015,10,31
21264995,21264995,1924,10/31/2015 23:59:46,11/1/2015 00:31:50,498,531,17292,0,1960,1,10/31/2015,2015,10,31
21264996,21264996,711,10/31/2015 23:59:50,11/1/2015 00:11:42,348,361,23374,0,1982,1,10/31/2015,2015,10,31
21264997,21264997,621,10/31/2015 23:59:54,11/1/2015 00:10:15,237,348,23503,0,1990,1,10/31/2015,2015,10,31
21264998,21264998,632,10/31/2015 23:59:56,11/1/2015 00:10:29,237,348,22104,0,1980,2,10/31/2015,2015,10,31
21264999,21264999,807,10/31/2015 23:59:57,11/1/2015 00:13:24,468,446,14597,0,1967,1,10/31/2015,2015,10,31

In [4]:
data_month = gf.data_extract(data, year, month, year, month)


# map_plot_obj = mapplot.MapPlot(loc_data,1)

In [15]:
from collections import Counter

In [19]:
freqs = Counter(data_month['start station id'])

In [30]:
location_dict = {}

In [31]:
data_month['start station id'].unique()

array([2009,  536,  228,  519,   83,  422,  516,  380,  296,  540,  263,
        153,  151,  450,  331,  502,  528,  467,  285,  382,  488,  401,
        251,  507,  116,  537,  533,  444,  383,  335, 3002, 2006,  482,
        128,  486,  274,  244,  302,  146,  334,  402,  404,  354,  386,
        218,  160,  326,  521,  363,  532,  319,  529,  433,  399,  499,
        257,  307,  320,  479,  293,  271,  524,  284,  514,  348,  358,
        312,  504,  511,  347,  366, 2021,  531,  352,  225,  237,  267,
        427,  459,  291,   82,  238,  458,  120,  364, 2010,  397,  407,
        375,  455,  322,  494,  432,  446,  281,  398,  268,  453,  368,
        416,  346,  441,  297,  476,  254,  229,  311,  428,  350,  462,
        150,  464,  440,  258,  195,  403,  260,  498,  485,  449,  520,
        448,  512,  290,  463,  276,  295,   79,  505,  470,  294,  503,
        161,  489,  442,  168,  323,  509,  379,  420,  388,  483,  373,
        236,  212,  497,  356,  495,  342,  410,  282,  250, 2004,  474,
        317,  435,  345,  475,  239,  324,  137,  518,  377,  249,  466,
       2002,  157,  439,  265,  310,  330,  224,  252,  369,  253,  223,
        152,  405,  261,  426,  490,  430,  473,  318, 2023,  247,  539,
        395,  513,  487,  394,  526,  469,  438,  515,  496,  127,  300,
        376,  480,  336,  357,  508,  434,  361, 2003,  367,  384,  325,
        143,  478,  471,  167,  174,  492,  447,  147,  328,  437,  546,
        314,  460,  353,  400,  164,  409,  408,  461,  393,  280,  301,
        385,  396,  411, 2012,  339,  525,  501,  308,  484,  527,  445,
        327,  391,  534,  415,  406,  417,  454,  472,  538,  423,  279,
        545,  341,  232, 2000,  436,  305,  306,  418,  340,  241,  266,
        329,  278,  522, 2008,  309,  316,  372,  119,  365,  332,  412,
        242,  390,  349,  262, 2022,  355,  523,  389,   72,  270,  344,
        313,  264,  144,  304,  275,  421,  343,  248, 2017,  216,  414,
        392,  360,  303,  351,  315,  233,  481,  259,  362,  457,  298,
        217,  337,  243,  289,  465,  477,  456,  517,  510,  387,  493,
        245,  443,  359, 2001,  431, 2005,  500,  173,  468,  419])

In [32]:
len(data_month['start station id'].unique())

329

In [39]:
dfff = data_month[data_month['start station id'] == 2009]
dfff.columns

Index([u'Unnamed: 0', u'tripduration', u'starttime', u'stoptime',
       u'start station id', u'end station id', u'bikeid', u'usertype',
       u'birth year', u'gender', u'startdate', u'startyear', u'startmonth',
       u'startday'],
      dtype='object')

In [37]:
dfff['start station latitude', 'start station longitude','start station name']

KeyError: ('start station latitude', 'start station longitude', 'start station name')

In [29]:
for index in data_month['start station id'].unique():
    if index not in location_dict.keys():
        location_dict[index] = data_month[data_month['start station id'] == index][['start station latitude', 'start station longitude','start station name']].iloc[0].values
        location_dict[index] = np.append(location_dict[index], freqs[index])

KeyError: "['start station latitude' 'start station longitude' 'start station name'] not in index"

In [ ]:
loc_df = pd.DataFrame(location_dict).T
loc_df = loc_df.reset_index(range(len(location_dict)))
loc_df.columns = ['id', 'lat','long', 'name', 'freq' ]

In [ ]:
data_month=data_month.drop('index',1)

In [ ]:
data_month.head()

In [13]:
data_month['start station id']

0         2009
1          536
2          228
3          519
4           83
5          422
6          516
7          380
8          296
9          540
10         263
11         153
12         151
13         450
14         331
15         519
16         502
17         528
18         467
19         467
20         285
21         382
22         285
23         488
24         488
25         401
26         251
27         507
28         380
29         116
          ...
300370     310
300371     352
300372     515
300373     509
300374     470
300375     432
300376     504
300377     509
300378     432
300379     236
300380     412
300381     301
300382     160
300383     396
300384     312
300385     316
300386     483
300387     160
300388     237
300389     295
300390     346
300391     505
300392     168
300393     380
300394      83
300395     308
300396     482
300397     247
300398     482
300399     450
Name: start station id, dtype: int64

In [11]:
loc_data = fs.station_info(data_month, year, month)

KeyError: "['start station latitude' 'start station longitude' 'start station name'] not in index"